{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="_password" />

    <label for="remember_me">Recordarme</label>
    <input type="checkbox" id="remember_me" name="_remember_me" checked />

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit">Login</button>
</form>