{% extends 'base.html.twig' %}

{% block title %}¡Hola Hola!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
warawa<br/>
<a href="{{ path('login') }}">Login</a>
<a href="{{ path('user_registration') }}">Registrarse</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
