<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bienvenido a Cool Wifi{% endblock %}</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">
    <link rel="stylesheet" href="///maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat">
    {% block stylesheets %}{% endblock %}

    <link rel="shortcut icon"    href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-57x57.png') }}"   sizes="57x57" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-72x72.png') }}"   sizes="72x72" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-76x76.png') }}"   sizes="76x76" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-114x114.png') }}" sizes="114x114" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-120x120.png') }}" sizes="120x120" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-144x144.png') }}" sizes="144x144" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-152x152.png') }}" sizes="152x152" />
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-180x180.png') }}" sizes="180x180" />
</head>
<body>
    {% block body %}{% endblock %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
