{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'Dashboard' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
	canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
	}
    </style>
{% endblock %}

{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ventas x Mes</h3>
                </div>
                <div class="panel-body" style="width:100%;min-height: 300px;">
                    <canvas id="canvasMultiax"></canvas>
                    <button id="randomizeDataMultiax">Randomize Data</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Comportamiento Ventas</h3>
                </div>
                <div class="panel-body" style="width:100%;min-height: 300px;">
                    <canvas id="canvasLineMultiax"></canvas>
                    <button id="randomizeDataLineMultiax">Randomize Data</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dispersión</h3>
                </div>
                <div class="panel-body" style="width:100%;min-height: 300px;">
                    <canvas id="canvasScatter"></canvas>
                    <button id="randomizeDataScatter">Randomize Data</button>
                </div>
            </div>
        </div>
       <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Polar</h3>
                </div>
                <div class="panel-body" style="width:100%;min-height: 300px;">
                    <canvas id="canvasPolar"></canvas>
                    <button id="randomizeDataPolar">Randomize Data</button>
                    <button id="addDataPolar">Add Data</button>
                    <button id="removeDataPolar">Remove Data</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Pie</h3>
                </div>
                <div class="panel-body" style="width:100%;min-height: 300px;">
                    <canvas id="canvasPie"></canvas>
                    <button id="randomizeDatasetPie">Randomize Data</button>
                    <button id="addDatasetPie">Add Dataset</button>
                    <button id="removeDatasetPie">Remove Dataset</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dona</h3>
                </div>
                <div class="panel-body" style="width:100%;min-height: 300px;">
                    <canvas id="canvasDona"></canvas>
                    <button id="randomizeDataDona">Randomize Data</button>
                    <button id="addDatasetDona">Add Dataset</button>
                    <button id="removeDatasetDona">Remove Dataset</button>
                    <button id="addDataDona">Add Data</button>
                    <button id="removeDataDona">Remove Data</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ventas</h3>
                </div>
                <div class="panel-body">
                    <div id="div_anno"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">CxC</h3>
                </div>
                <div class="panel-body">
                    <div id="div_area"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Prospección Mensual</h3>
                </div>
                <div class="panel-body">
                    <div id="div_line"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
{{ parent() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw([anno, area, line], ['div_anno', 'div_area', 'div_line']) }}
</script>
<!--CHARTS-->
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<!-- General data -->
<script type="text/javascript">
    window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
    };
    (function(global) {
        var Months = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];
        var COLORS = [
            '#4dc9f6',
            '#f67019',
            '#f53794',
            '#537bc4',
            '#acc236',
            '#166a8f',
            '#00a950',
            '#58595b',
            '#8549ba'
            ];
        var Samples = global.Samples || (global.Samples = {});
        var Color = global.Color;

        Samples.utils = {
            // Adapted from http://indiegamr.com/generate-repeatable-random-numbers-in-js/
            srand: function(seed) {
                this._seed = seed;
            },

            rand: function(min, max) {
                var seed = this._seed;
                min = min === undefined ? 0 : min;
                max = max === undefined ? 1 : max;
                this._seed = (seed * 9301 + 49297) % 233280;
                return min + (this._seed / 233280) * (max - min);
            },

            numbers: function(config) {
                var cfg = config || {};
                var min = cfg.min || 0;
                var max = cfg.max || 1;
                var from = cfg.from || [];
                var count = cfg.count || 8;
                var decimals = cfg.decimals || 8;
                var continuity = cfg.continuity || 1;
                var dfactor = Math.pow(10, decimals) || 0;
                var data = [];
                var i, value;

                for (i = 0; i < count; ++i) {
                    value = (from[i] || 0) + this.rand(min, max);
                    if (this.rand() <= continuity) {
                        data.push(Math.round(dfactor * value) / dfactor);
                    } else {
                        data.push(null);
                    }
                }

                return data;
            },

            labels: function(config) {
                var cfg = config || {};
                var min = cfg.min || 0;
                var max = cfg.max || 100;
                var count = cfg.count || 8;
                var step = (max - min) / count;
                var decimals = cfg.decimals || 8;
                var dfactor = Math.pow(10, decimals) || 0;
                var prefix = cfg.prefix || '';
                var values = [];
                var i;

                for (i = min; i < max; i += step) {
                    values.push(prefix + Math.round(dfactor * i) / dfactor);
                }

                return values;
            },

            months: function(config) {
                var cfg = config || {};
                var count = cfg.count || 12;
                var section = cfg.section;
                var values = [];
                var i, value;

                for (i = 0; i < count; ++i) {
                    value = Months[Math.ceil(i) % 12];
                    values.push(value.substring(0, section));
                }

                return values;
            },

            color: function(index) {
                return COLORS[index % COLORS.length];
            },

            transparentize: function(color, opacity) {
                var alpha = opacity === undefined ? 0.5 : 1 - opacity;
                return Color(color).alpha(alpha).rgbString();
            }
        };

        // DEPRECATED
        window.randomScalingFactor = function() {
            return Math.round(Samples.utils.rand(-100, 100));
        };

        // INITIALIZATION

        Samples.utils.srand(Date.now());
    }(this));
</script>

<script type="text/javascript">
// Bar Chart
    var barChartData = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'Dataset 1',
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
                window.chartColors.purple,
                window.chartColors.red
            ],
            yAxisID: 'y-axis-1',
            data: [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor()
            ]
        }, {
            label: 'Dataset 2',
            backgroundColor: window.chartColors.grey,
            yAxisID: 'y-axis-2',
            data: [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor()
            ]
        }]
    };

// Line Chart
    var lineChartData = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            borderColor: window.chartColors.red,
            backgroundColor: window.chartColors.red,
            fill: false,
            data: [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor()
            ],
            yAxisID: 'y-axis-1'
    }, {
        label: 'My Second dataset',
        borderColor: window.chartColors.blue,
        backgroundColor: window.chartColors.blue,
        fill: false,
        data: [
            randomScalingFactor(),
            randomScalingFactor(),
            randomScalingFactor(),
            randomScalingFactor(),
            randomScalingFactor(),
            randomScalingFactor(),
            randomScalingFactor()
        ],
        yAxisID: 'y-axis-2'
        }]
    };    

// Scatter
    var color = Chart.helpers.color;
    var scatterChartData = {
        datasets: [{
            label: 'My First dataset',
            xAxisID: 'x-axis-1',
            yAxisID: 'y-axis-1',
            borderColor: window.chartColors.red,
            backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
            data: [{
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }]
        }, {
            label: 'My Second dataset',
            xAxisID: 'x-axis-1',
            yAxisID: 'y-axis-2',
            borderColor: window.chartColors.blue,
            backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
            data: [{
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }, {
                    x: randomScalingFactor(),
                    y: randomScalingFactor()
            }]
        }]
    };

    //Polar
	var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var chartColors = window.chartColors;
		var color = Chart.helpers.color;
		var configPolar = {
			data: {
				datasets: [{
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: [
						color(chartColors.red).alpha(0.5).rgbString(),
						color(chartColors.orange).alpha(0.5).rgbString(),
						color(chartColors.yellow).alpha(0.5).rgbString(),
						color(chartColors.green).alpha(0.5).rgbString(),
						color(chartColors.blue).alpha(0.5).rgbString()
					],
					label: 'My dataset' // for legend
				}],
				labels: [
					'Red',
					'Orange',
					'Yellow',
					'Green',
					'Blue'
				]
			},
			options: {
				responsive: true,
				legend: {
					position: 'right'
				},
				title: {
					display: true,
					text: 'Chart.js Polar Area Chart'
				},
				scale: {
					ticks: {
						beginAtZero: true
					},
					reverse: false
				},
				animation: {
					animateRotate: false,
					animateScale: true
				}
			}
		};

//Pie
		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var configPie = {
			type: 'pie',
			data: {
				datasets: [{
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue
					],
					label: 'Dataset 1'
				}],
				labels: [
					'Red',
					'Orange',
					'Yellow',
					'Green',
					'Blue'
				]
			},
			options: {
				responsive: true
			}
		};

//Dona
		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var configDona = {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue
					],
					label: 'Dataset 1'
				}],
				labels: [
					'Red',
					'Orange',
					'Yellow',
					'Green',
					'Blue'
				]
			},
			options: {
				responsive: true,
				legend: {
					position: 'top'
				},
				title: {
					display: true,
					text: 'Chart.js Doughnut Chart'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		};
                
    window.onload = function() {
// Bar Chart
        var ctx = document.getElementById('canvasMultiax').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart - Multi Axis'
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        id: 'y-axis-1'
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }]
                }
            }
        });

// Line Chart
        var ctxLineMultiax = document.getElementById('canvasLineMultiax').getContext('2d');
        window.myLine = Chart.Line(ctxLineMultiax, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: 'Chart.js Line Chart - Multi Axis'
                },
                scales: {
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        id: 'y-axis-1'
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',

                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false // only want the grid lines for one axis to show up
                        }
                    }]
                }
            }
        });

        //Scatter
        var ctxScatter = document.getElementById('canvasScatter').getContext('2d');
                window.myScatter = Chart.Scatter(ctxScatter, {
                        data: scatterChartData,
                        options: {
                                responsive: true,
                                hoverMode: 'nearest',
                                intersect: true,
                                title: {
                                        display: true,
                                        text: 'Chart.js Scatter Chart - Multi Axis'
                                },
                                scales: {
                                        xAxes: [{
                                                position: 'bottom',
                                                gridLines: {
                                                        zeroLineColor: 'rgba(0,0,0,1)'
                                                }
                                        }],
                                        yAxes: [{
                                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                                display: true,
                                                position: 'left',
                                                id: 'y-axis-1',
                                        }, {
                                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                                display: true,
                                                position: 'right',
                                                reverse: true,
                                                id: 'y-axis-2',

                                                // grid line settings
                                                gridLines: {
                                                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                                                },
                                        }],
                                }
                        }
                });

//Polar
        var ctxPolar = document.getElementById('canvasPolar');
        window.myPolarArea = Chart.PolarArea(ctxPolar, configPolar);

//Pie
        var ctxPie = document.getElementById('canvasPie').getContext('2d');
        window.myPie = new Chart(ctxPie, configPie);

//Dona
        var ctxDona = document.getElementById('canvasDona').getContext('2d');
        window.myDoughnut = new Chart(ctxDona, configDona);
    };

// Bar Chart
    document.getElementById('randomizeDataMultiax').addEventListener('click', function() {
        barChartData.datasets.forEach(function(dataset) {
            dataset.data = dataset.data.map(function() {
                return randomScalingFactor();
            });
        });
        window.myBar.update();
    });
// Line Chart
    document.getElementById('randomizeDataLineMultiax').addEventListener('click', function() {
        lineChartData.datasets.forEach(function(dataset) {
            dataset.data = dataset.data.map(function() {
                return randomScalingFactor();
            });
        });
        window.myLine.update();
    });


//Scatter
    document.getElementById('randomizeDataScatter').addEventListener('click', function() {
            scatterChartData.datasets.forEach(function(dataset) {
                    dataset.data = dataset.data.map(function() {
                            return {
                                    x: randomScalingFactor(),
                                    y: randomScalingFactor()
                            };
                    });
            });
            window.myScatter.update();
    });

//Polar

    document.getElementById('randomizeDataPolar').addEventListener('click', function() {
                    configPolar.data.datasets.forEach(function(piece, i) {
                            piece.data.forEach(function(value, j) {
                                    configPolar.data.datasets[i].data[j] = randomScalingFactor();
                            });
                    });
                    window.myPolarArea.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataPolar').addEventListener('click', function() {
            if (configPolar.data.datasets.length > 0) {
                    configPolar.data.labels.push('data #' + configPolar.data.labels.length);
                    configPolar.data.datasets.forEach(function(dataset) {
                            var colorName = colorNames[configPolar.data.labels.length % colorNames.length];
                            dataset.backgroundColor.push(window.chartColors[colorName]);
                            dataset.data.push(randomScalingFactor());
                    });
                    window.myPolarArea.update();
            }
    });
    document.getElementById('removeDataPolar').addEventListener('click', function() {
            configPolar.data.labels.pop(); // remove the label first
            configPolar.data.datasets.forEach(function(dataset) {
                    dataset.backgroundColor.pop();
                    dataset.data.pop();
            });
            window.myPolarArea.update();
    });

//Pie

    document.getElementById('randomizeDatasetPie').addEventListener('click', function() {
            configPie.data.datasets.forEach(function(dataset) {
                    dataset.data = dataset.data.map(function() {
                            return randomScalingFactor();
                    });
            });

            window.myPie.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDatasetPie').addEventListener('click', function() {
            var newDataset = {
                    backgroundColor: [],
                    data: [],
                    label: 'New dataset ' + configPie.data.datasets.length,
            };

            for (var index = 0; index < configPie.data.labels.length; ++index) {
                    newDataset.data.push(randomScalingFactor());

                    var colorName = colorNames[index % colorNames.length];
                    var newColor = window.chartColors[colorName];
                    newDataset.backgroundColor.push(newColor);
            }

            configPie.data.datasets.push(newDataset);
            window.myPie.update();
    });

    document.getElementById('removeDatasetPie').addEventListener('click', function() {
            configPie.data.datasets.splice(0, 1);
            window.myPie.update();
    });

//Dona
    document.getElementById('randomizeDataDona').addEventListener('click', function() {
            configDona.data.datasets.forEach(function(dataset) {
                    dataset.data = dataset.data.map(function() {
                            return randomScalingFactor();
                    });
            });

            window.myDoughnut.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDatasetDona').addEventListener('click', function() {
            var newDataset = {
                    backgroundColor: [],
                    data: [],
                    label: 'New dataset ' + configDona.data.datasets.length,
            };

            for (var index = 0; index < configDona.data.labels.length; ++index) {
                    newDataset.data.push(randomScalingFactor());

                    var colorName = colorNames[index % colorNames.length];
                    var newColor = window.chartColors[colorName];
                    newDataset.backgroundColor.push(newColor);
            }

            configDona.data.datasets.push(newDataset);
            window.myDoughnut.update();
    });

    document.getElementById('addDataDona').addEventListener('click', function() {
            if (configDona.data.datasets.length > 0) {
                    configDona.data.labels.push('data #' + configDona.data.labels.length);

                    var colorName = colorNames[configDona.data.datasets[0].data.length % colorNames.length];
                    var newColor = window.chartColors[colorName];

                    configDona.data.datasets.forEach(function(dataset) {
                            dataset.data.push(randomScalingFactor());
                            dataset.backgroundColor.push(newColor);
                    });

                    window.myDoughnut.update();
            }
    });

    document.getElementById('removeDatasetDona').addEventListener('click', function() {
            configDona.data.datasets.splice(0, 1);
            window.myDoughnut.update();
    });

    document.getElementById('removeDataDona').addEventListener('click', function() {
            configDona.data.labels.splice(-1, 1); // remove the label first

            configDona.data.datasets.forEach(function(dataset) {
                    dataset.data.pop();
                    dataset.backgroundColor.pop();
            });
            window.myDoughnut.update();
    });
</script>
{% endblock body_javascript %}