{{ form_start(form) }}
     {{ form_row(form.emisor) }}
     {{ form_row(form.receptor) }}
     {{ form_row(form.cfdiRelacionados) }}
    <ul class="conceptos items" data-prototype="{{ form_widget(form.conceptos.vars.prototype)|e('html_attr') }}">
        {% for concepto in form.conceptos %}
            <li>{{ form_row(concepto.cuentaPredialNum) }}</li>
            <li>{{ form_row(concepto.complementos) }}</li>
            <li>{{ form_row(concepto.partes) }}</li>
            <li>{{ form_row(concepto.noIdentificacion) }}</li>
            <li>{{ form_row(concepto.cantidad) }}</li>
            <li>{{ form_row(concepto.unidad) }}</li>
            <li>{{ form_row(concepto.descripcion) }}</li>
            <li>{{ form_row(concepto.valorUnitario) }}</li>
            <li>{{ form_row(concepto.importe) }}</li>
            <li>{{ form_row(concepto.descuento) }}</li>
            <li>{{ form_row(concepto.claveProdServ) }}</li>
            <li>{{ form_row(concepto.claveUnidad) }}</li>
        {% endfor %}
    </ul>
     {{ form_row(form.totalImpuestosRetenidos) }}
     {{ form_row(form.totalImpuestosTrasladados) }}
     {{ form_row(form.complemento) }}
     {{ form_row(form.adenda) }}
     {{ form_row(form.version) }}
     {{ form_row(form.serie) }}
     {{ form_row(form.folio) }}
     {{ form_row(form.sello) }}
     {{ form_row(form.noCertificado) }}
     {{ form_row(form.certificado) }}
     {{ form_row(form.condicionesPago) }}
     {{ form_row(form.subTotal) }}
     {{ form_row(form.descuento) }}
     {{ form_row(form.tipoCambio) }}
     {{ form_row(form.total) }}
     {{ form_row(form.confirmacion) }}
     {{ form_row(form.formaPago) }}
     {{ form_row(form.tipoComprobante) }}
     {{ form_row(form.metodoPago) }}
     {{ form_row(form.lugarExpedicion) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}