{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'Generación de Comprobantes' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_header %}
<h1 class="title">{{ _content_title }}</h1>
<div class="box box-widget help-entity">
    <div class="box-body">
        Captura de facturas, comprobantes y adendas
    </div>
</div>
{% endblock %}

{% block main %}
<section id="main" class="content">                  
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TotalImpuestosRetenidos</th>
                <th>TotalImpuestosTrasladados</th>
                <th>Complemento</th>
                <th>Adenda</th>
                <th>Version</th>
                <th>Serie</th>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Sello</th>
                <th>NoCertificado</th>
                <th>Certificado</th>
                <th>CondicionesPago</th>
                <th>SubTotal</th>
                <th>Descuento</th>
                <th>TipoCambio</th>
                <th>Total</th>
                <th>Confirmacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comprobante in comprobantes %}
            <tr>
                <td>{{ comprobante.id }}</td>
                <td>{{ comprobante.totalImpuestosRetenidos }}</td>
                <td>{{ comprobante.totalImpuestosTrasladados }}</td>
                <td>{{ comprobante.complemento }}</td>
                <td>{{ comprobante.adenda }}</td>
                <td>{{ comprobante.version }}</td>
                <td>{{ comprobante.serie }}</td>
                <td>{{ comprobante.folio }}</td>
                <td>{{ comprobante.fecha ? comprobante.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comprobante.sello }}</td>
                <td>{{ comprobante.noCertificado }}</td>
                <td>{{ comprobante.certificado }}</td>
                <td>{{ comprobante.condicionesPago }}</td>
                <td>{{ comprobante.subTotal }}</td>
                <td>{{ comprobante.descuento }}</td>
                <td>{{ comprobante.tipoCambio }}</td>
                <td>{{ comprobante.total }}</td>
                <td>{{ comprobante.confirmacion }}</td>
                <td>
                    <a href="{{ path('comprobante_show', {'id': comprobante.id}) }}">show</a>
                    <a href="{{ path('comprobante_edit', {'id': comprobante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comprobante_new') }}">Create new</a>
</div>
</section>
{% endblock %}

{% block body_javascript %}
{{ parent() }}
{% endblock body_javascript %}