{% extends 'base.html.twig' %}

{% block title %}New Comprobante{% endblock %}

{% block body %}
    <h1>Create new Comprobante</h1>

    {{ include('comprobante/_form.html.twig') }}

    <a href="{{ path('comprobante_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    function addItemForm($collectionHolder, $newLinkLi) {
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        var newForm = prototype;
        newForm = newForm.replace(/__name__/g, index);
        $collectionHolder.data('index', index + 1);
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
    function addItemFormDeleteLink($itemFormLi) {
        var $removeFormA = $('<a href="#">Delete Item</a>');
        $itemFormLi.append($removeFormA);
        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $itemFormLi.remove();
        });
    }
    var $collectionHolder;
    var $addItemLink = $('<a href="#" class="add_item_link">Add a item</a>');
    var $newLinkLi = $('<li></li>').append($addItemLink);
    jQuery(document).ready(function() {
        $collectionHolder = $('ul.items');
        $collectionHolder.append($newLinkLi);
        $collectionHolder.data('index', $collectionHolder.find(':input').length);
        $collectionHolder.find('li').each(function() {
            addItemFormDeleteLink($(this));
        });
        $addItemLink.on('click', function(e) {
            e.preventDefault();
            addItemForm($collectionHolder, $newLinkLi);
        });
    });
</script>
{% endblock %}