{% extends 'base.html.twig' %}

{% block title %}Comprobante{% endblock %}

{% block body %}
    <h1>Comprobante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr>
            <tr>
                <th>TotalImpuestosRetenidos</th>
                <td>{{ comprobante.totalImpuestosRetenidos }}</td>
            </tr>
            <tr>
                <th>TotalImpuestosTrasladados</th>
                <td>{{ comprobante.totalImpuestosTrasladados }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ comprobante.complemento }}</td>
            </tr>
            <tr>
                <th>Adenda</th>
                <td>{{ comprobante.adenda }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ comprobante.version }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ comprobante.serie }}</td>
            </tr>
            <tr>
                <th>Folio</th>
                <td>{{ comprobante.folio }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comprobante.fecha ? comprobante.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sello</th>
                <td>{{ comprobante.sello }}</td>
            </tr>
            <tr>
                <th>NoCertificado</th>
                <td>{{ comprobante.noCertificado }}</td>
            </tr>
            <tr>
                <th>Certificado</th>
                <td>{{ comprobante.certificado }}</td>
            </tr>
            <tr>
                <th>CondicionesPago</th>
                <td>{{ comprobante.condicionesPago }}</td>
            </tr>
            <tr>
                <th>SubTotal</th>
                <td>{{ comprobante.subTotal }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ comprobante.descuento }}</td>
            </tr>
            <tr>
                <th>TipoCambio</th>
                <td>{{ comprobante.tipoCambio }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ comprobante.total }}</td>
            </tr>
            <tr>
                <th>Confirmacion</th>
                <td>{{ comprobante.confirmacion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comprobante_index') }}">back to list</a>

    <a href="{{ path('comprobante_edit', {'id': comprobante.id}) }}">edit</a>

    {{ include('comprobante/_delete_form.html.twig') }}
{% endblock %}