{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'Generación de Comprobantes' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_header %}
<h1 class="title">{{ _content_title }}</h1>
<div class="box box-widget help-entity">
    <div class="box-body">
        Captura de facturas, comprobantes y adendas
    </div>
</div>
{% endblock %}

{% block main %}
<section id="main" class="content">                  
    <div class="row">        
        <div>Generar factura:</div>
        <a href="#">Crear factura</a>
    </div>
    <div class="row">        
        <div id="datosfactura">{{ timbado }}</div>
    </div>
</section>
{% endblock %}

{% block body_javascript %}
{{ parent() }}
{% endblock body_javascript %}